@model batSystem.Models.CreateNewUserModel
@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>
@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            @Html.LabelFor(m => m.UserName)
        </td>
        <td>
            @Html.LabelFor(m => m.Password)
        </td>
        <td>
            @Html.LabelFor(m => m.FirstName)
        </td>
        <td>
            @Html.LabelFor(m => m.SecondName)
        </td>
        <td>
            @Html.LabelFor(m => m.LastName)
        </td>
        <td>
            @Html.LabelFor(m => m.Email)
        </td>
    </tr>
    <tr>
        <td>  @Html.EditorFor(m => m.UserName)</td>
        <td>  @Html.EditorFor(m => m.Password)</td>
        <td>  @Html.EditorFor(m => m.FirstName)</td>
        <td>  @Html.EditorFor(m => m.SecondName)</td>
        <td>  @Html.EditorFor(m => m.LastName)</td>
        <td>  @Html.EditorFor(m => m.Email)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button style="width:100%">Добавить</button>
        </td>
    </tr>
</table>
}